<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="telegramBot.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="iisnode" />
          <action type="None" />
        </rule>
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="telegramBot.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <iisnode
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot; telegramBot.js"
      loggingEnabled="true"
      logDirectory="..\..\LogFiles\nodejs"
      watchedFiles="web.config;*.js"
      node_env="production"
      maxConcurrentRequestsPerProcess="1"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      enableXFF="true"
    />
  </system.webServer>
</configuration>
